.kitchen/
*.swp
clients*
cookbooks/
data_bags/
environments*
workspace*
nodes*
.chef/vms*
.chef/local-mode-cache
.chef/syntaxcache
.chef/trusted_certs
.chef/provisioning-data*
.chef/keys
.chef/provisioning/
SCRATCH.md
