.kitchen/
*.swp
Berksfile.lock
clients*
cookbooks/
data_bags/
environments*
workspace*
nodes*
.chef/vms*
.chef/local-mode-cache
.chef/syntaxcache
.chef/trusted_certs
.chef/provisioning-data*
.chef/keys
.chef/provisioning/
SCRATCH.md
terraform/.keys/*.pem
terraform/.source.tfvars
terraform/terraform.tfstate*
terraform/terraform.tfvars
terraform/.keys/*
terraform/.terraform/
